@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,700;1,700&display=swap')

/* --- GR Norch
@font-face
  font-family: GR Norch
  font-weight: regular
  src: url("../fonts/gr-norch/GRNorch.ttf") format("truetype")

/* --- Overpass Mono
@font-face
  font-family: Overpass Mono
  font-weight: regular
  src: url("../fonts/overpass-mono/OverpassMono-Light.ttf") format("truetype")

